<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product  Id="*"
            Name="HelloWix"
            Version="1.0.0"
            Manufacturer="StephenBayer"
            Language="1033"
            UpgradeCode="3962e538-f049-4de3-82d4-1eed3b4dd0b8">
 
    <Package Description="Hello Wix" Compressed="yes" InstallScope="perMachine" />
    <WixVariable Id="WixUILicenseRtf" Value="redist\license.rtf"/>
    
    <MediaTemplate EmbedCab="yes" />
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="HelloWix" >
          <Directory Id="DOCFOLDER" Name="Docs" />
        </Directory>
      </Directory>
    </Directory>

    <ComponentGroup Id="Program" Directory="INSTALLFOLDER">
      <Component Id="TextFileComponent1" Guid="7B0E9951-D655-4DA0-B0F9-59DF55DB6D42">
         <File Source="redist\foo.txt" Name="program_file1.dat" />
      </Component>

      <Component Id="TextFileComponent2" Guid="DD5C512D-6071-42BE-84B6-A3B197FAAC34">
        <File Source="redist\foo.txt" Name="program_file2.dat" />
      </Component>

      <Component Id="TextFileComponent3" Guid="49729341-B93D-467E-9A6E-4BF5F2D3D0AF">
        <File Source="redist\foo.txt" Name="program_file3.dat" />
      </Component>

      <Component Id="TextFileComponent4" Guid="FE9F28F7-701A-4379-B98D-20524D5BDBAB">
        <File Source="redist\foo.txt" Name="program_file4.dat" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Docs" Directory="DOCFOLDER">
      <Component Id="HelpFile1Component" Guid="E551E511-979B-4D0D-A107-42688B30B5F5">
        <File Source="redist\foo.txt" Name="foo_help1.txt" />
      </Component>
      <Component Id="HelpFile2Component" Guid="BB1C6480-87F8-43AA-A152-DEA3FFB5C64F">
        <File Source="redist\foo.txt" Name="foo_help2.txt" />
      </Component>

      <Component Id="HelpFile3Component" Guid="967AA664-783A-4817-AE63-88B0593ADCC3">
        <File Source="redist\foo.txt" Name="foo_help3.txt" />
      </Component>


    </ComponentGroup>


    <Feature Id="MainFeature" Title="HelloWix" Level="1">
      <ComponentGroupRef Id="Program"/>
      <ComponentGroupRef Id="Docs" />
    </Feature>

    <UIRef Id="WixUI_FeatureTree" />

  </Product>
</Wix>
