<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product  Id="*"
            Name="HelloWix"
            Version="1.0.0"
            Manufacturer="StephenBayer"
            Language="1033"
            UpgradeCode="3962e538-f049-4de3-82d4-1eed3b4dd0b8">
 
    <Package Description="Hello Wix" Compressed="yes" InstallScope="perMachine" />
    
    <MediaTemplate EmbedCab="yes" />
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="HelloWix" />
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">

      <Component Id="TextFileComponent" Guid="7B0E9951-D655-4DA0-B0F9-59DF55DB6D42">
         <File Source="redist\foo.txt" Name="bar.dat" />
      </Component>

    </DirectoryRef>

    <Feature Id="MainFeature" Title="HelloWix" Level="1">
      <ComponentRef Id="TextFileComponent" />
    </Feature>

  </Product>
</Wix>
